.registerModalTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.registerModalSupportText {
  font-weight: 400;
  line-height: 1.37;
  color: rgba(18, 20, 23, 0.8);
  margin-bottom: 40px;
}

.nameErrorMessage {
  color: #ff3333;
  margin-bottom: 10px;
}

.emailErrorMessage {
  color: #ff3333;
  margin-bottom: 10px;
}

.passwordErrorMessage {
  color: #ff3333;
  margin-bottom: 40px;
}

.registerForm {
  display: flex;
  flex-direction: column;
}

.nameInput {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  height: 54px;
  margin-bottom: 18px;
}

.nameInputHasError {
  color: #ff3333;
  border: 1px solid #ff3333;
  margin-bottom: 10px;
}

.emailInput {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  height: 54px;
  margin-bottom: 18px;
}

.emailInputHasError {
  color: #ff3333;
  border: 1px solid #ff3333;
  margin-bottom: 10px;
}

.passwordInputWrapper {
  position: relative;
  margin-bottom: 40px;
}

.passwordInputWrapperWithError {
  margin-bottom: 10px;
}

.passwordInput {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 40px 16px 18px;
  height: 54px;
  width: 100%;
}

.passwordInputHasError {
  color: #ff3333;
  border: 1px solid #ff3333;
}

.togglePwdVisibilityBtn {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  top: 18px;
  right: 18px;
  background-color: transparent;
}

.eyeIcon {
  fill: transparent;
  stroke: #121417;
}

.btnSubmit {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  color: #121417;
  padding: 16px 0;
  border-radius: 12px;
  background-color: #9fb7ce;
  transition: background-color 250ms ease;
}

.btnSubmit:hover,
.btnSubmit:focus,
.btnSubmit:active {
  background-color: #b8cee2;
}
