.modal {
  position: absolute;
  background-color: #ffffff;
  padding: 64px;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.stopScrolling {
  overflow: hidden;
}

.closeModalBtn {
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
}

.closeModalIcon {
  fill: black;
  stroke: black;
}
