.loadMoreBtn {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  color: #121417;
  padding: 16px 48px;
  border-radius: 12px;
  background-color: #9fb7ce;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms ease;
}

.loadMoreBtn:hover,
.loadMoreBtn:focus,
.loadMoreBtn:active {
  background-color: #b8cee2;
}
