.header {
  padding: 20px 0;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 128px;
}

.logoLink {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerNavList {
  display: flex;
  gap: 28px;
}

.headerNavLink {
  line-height: 1.25;
  display: inline-block;
  padding: 14px 0;
}

.headerAuthButtons {
  display: flex;
  gap: 16px;
}

.loginButton {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  line-height: 1.25;
  background-color: transparent;
  position: relative;
}

.registrationButton {
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
  background-color: #121417;
  border-radius: 12px;
  padding: 14px 40px;
  transition: background-color 150ms ease, color 150ms ease, outline 150ms ease;
}

.registrationButton:hover {
  background-color: transparent;
  color: #121417;
  outline: 1px solid #121417;
}
