body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  min-height: 100vh;
  color: #121417;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

input {
  outline: none;
  border: none;
  padding: 0;
}

.container {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 560px) {
  .container {
    padding: 0 32px;
  }
}
